body{
  text-align: center;
  background-color: blue;
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-column: auto;
  /* width: 50%; */
  grid-column-gap: 3px;
  margin: 0 auto 0 auto;
  border: 2px solid black;




  }
.key{

  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  width:auto;
  height: 150px;
  font-size: 1rem;
  padding: 0;


}

.re, .ma, .dha, .sa1{
  background-color: black;
  text-decoration-color: white;
  border-color: white;
  color: white;
}
h1
{
  padding: 0;
}
